@model IEnumerable<ProjectModel>
@{
    ViewData["Title"] = "Projects";
}

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Проекты</span>
</nav>


@foreach (var project in Model)
{
    <ul class="list-group">

        <li class="list-group-item">ID проекта - @project.Project</li>
        <li class="list-group-item">Имя проекта - @project.ProjectName</li>
        <li class="list-group-item">Стоимость - @project.Cost $</li>
        <li class="list-group-item">Дедлайн - @project.Deadline</li>
        @if (project.IsDone)
        {
            <li class="list-group-item">Проект завершен - Да</li>
        }
        else
        {
            <li class="list-group-item">Проект завершен - Нет</li>
        }

        <li class="list-group-item">ID пользователя - @project.UserId</li>
        <br />
        @foreach (var step in project.Steps)
        {
            <ul class="nested">
                <li class="list-group-item">Название этапа - @step.Name</li>
                <li class="list-group-item">Описание - @step.Description</li>
            </ul>
            <hr />
        }
    </ul>
}
