@model IEnumerable<ProjectModel>
@{
    ViewData["Title"] = "Projects";
    bool hasSteps = false;
}

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Количество проектов с вашим участием: <span class="badge badge-primary badge-pill">@Model.Count()</span></span>
</nav>


@foreach (var project in Model)
{
<ul class="list-group">


    <li class="list-group-item active">

        @foreach (var st in project.Steps)
        {
            if (st.EndDate == DateTime.MinValue)
            {
                hasSteps = true;
            }
        }

        <div class="row">
            <div class="inline" style="float:left">
                <b>@project.ProjectName</b>
            </div>

            @if (!project.IsDone && project.AuthorId == int.Parse(User.Identity.Name) && !hasSteps)
            {
                @using (Html.BeginForm("UpdateProjStatus", "Home", FormMethod.Post))
                {

                    <div class="inline" style="margin-right: 10px">
                        <input type="hidden" id="projectID" name="projectId" value=@project.Project>
                        <input type="submit" class="btn btn-success" value="Завершить проект " />
                    </div>
                }
            }
            @if (!project.IsDone)
            {
                @using (Html.BeginForm("AddStep", "Home", FormMethod.Post))
                {
                    <div class="inline" style="margin-right: 10px">
                        <input type="hidden" id="projectID" name="projectId" value=@project.Project>
                        <input type="hidden" id="projectName" name="projectName" value=@project.ProjectName>
                        <input type="submit" class="btn btn-info" value="Добавить этап " />
                    </div>
                }
            }

            @if (!project.IsDone && project.AuthorId == int.Parse(User.Identity.Name))
            {
                @using (Html.BeginForm("AddUserView", "Home", FormMethod.Post))
                {

                    <div class="inline" style="margin-right: 10px">
                        <input type="hidden" id="projectName" name="projectName" value=@project.ProjectName>
                        <input type="hidden" id="projectID" name="projectId" value=@project.Project>
                        <input type="submit" class="btn btn-warning" value="Управление доступом " />
                    </div>
                }
            }
        </div>


    </li>
    <li class="list-group-item"><b>Стоимость</b> - @project.Cost $</li>
    <li class="list-group-item"><b>Дедлайн</b> - @project.Deadline.ToShortDateString()</li>
    @if (project.IsDone)
    {
        <li class="list-group-item list-group-item-success">Проект завершен</li>
    }
    else
    {
        <li class="list-group-item list-group-item-danger">Проект находится в разработке</li>
    }
   

    <br />
    @foreach (var step in project.Steps)
    {
        <ul class="nested">
            <li class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="inline" style="float:left">
                        <b>Этап: </b> @step.Name
                    </div>
                    @if (step.EndDate == DateTime.MinValue)
                    {
                        @using (Html.BeginForm("UpdateStepStatus", "Home", FormMethod.Post))
                        {
                    <div class="inline" style="margin-right : 10px">
                        <input type="hidden" id="stepID" name="stepId" value=@step.StepOfDevelopment>
                        <input type="submit" class="btn btn-primary" value="Завершить" />
                    </div>
                        }
                    }
                    @if (project.AuthorId == int.Parse(User.Identity.Name))
                    {
                        @using (Html.BeginForm("RemoveStepFromProject", "Home", FormMethod.Post))
                        {
                            <div class="inline" style="margin-right : 10px">
                                <input type="hidden" id="stepID" name="stepId" value=@step.StepOfDevelopment>
                                <button type="submit" class="btn btn-primary" value="Удалить"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </div>
                        }
                    }
            </li>
            <li class="list-group-item"><b>Описание:</b> @step.Description</li>
            @if (step.EndDate != DateTime.MinValue)
            {
                <li class="list-group-item list-group-item-success">Этап завершен @step.EndDate.ToShortDateString()</li>
            }
            else
            {
                <li class="list-group-item list-group-item-danger">Этап в процессе выполнения</li>
            }
        </ul>
        <hr />
    }
</ul>
}
